/* FONTS */
@font-face {
  font-family: 'Sans';
  src: url(fonts/Cortese-Sans.ttf);
}

@font-face {
  font-family: 'Lettering';
  src: url(fonts/MeineMutterLetteringGX.ttf);
}

/* GENERAL */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 800vh;
  color: grey;
  background-color: grey;
  font-size: clamp(47px, 5.5vw, 120px);
}

* {
  box-sizing: border-box;
}

/* LAYOUT */
/* LEFT: FIXED TEXT (MEINE MUTTER) */
.fixed {
  /* positioning */
  width: 38.2%; /* if you change this, also change the padding-left of .scroll  */
  margin-left: 0;
  height: 100%;
  position: fixed;

  /* font */
  font-family: Lettering;
  font-variation-settings: 'wght' 100;
  transition: font-variation-settings 0.3s ease;

  mix-blend-mode: difference;

  /* center the text inside */
  margin-top: 38.2vh;
  text-align: right;
  padding-right: 0.4em;
}

/* RIGHT: SCROLLABLE TEXT ON THE RIGHT SIDE */
.scroll {
  /* positioning */
  margin-left: 38.2%; /* if you change this, also change the width of .fixed  */
  margin-right: 9%;
  bottom:0;
  overflow: scroll;
  mix-blend-mode: difference;

}

/* RIGHT: POEM PARAGRAPHS INSIDE RIGHT COLUMNS */
p {
  /* font */
  font-family: Sans;

  height: 100vh;
  /* border: 2px solid orchid;  */
  margin: 0;
}

p:first-child {
  margin-top: 38.2vh; /* change here at which height the first paragraph begins */
  /* margin-top: 100vh; */
}

p:last-child {
  height: 61.8vh; /* to make the last paragraph end in the middle */
  margin-bottom: 0;
}

.info {
  width: 100%;
  padding-left: 38.2%;
  font-family: "HelveticaNeue-Light";
  letter-spacing: 0.015em;
  font-size: clamp(18px, 0.2em, 23px);
  padding-right: 9%;
  mix-blend-mode: difference;
  /* background-color: yellow; */
}

div:first-child {
  position: absolute;
  padding-top: 20px;
  /* height: 597px;
  background-color: yellow; */
}

div:nth-child(4) {
  position: relative;
  padding-bottom: 20px;
}


@media only screen and (max-width: 768px) {
  .fixed {
    width: 100%;
    text-align: left;
    margin-left: 9%;
  }
  
  .scroll {
    margin-left: 9%;
  }

  .info {
    padding-left: 9%;
  }

  p:first-child {
    margin-top: calc(38.2vh + 60px);
  }
  
}

/* FONT VARIATIONS */
/* classes for different font-variations accoring to paragraph*/
/* classes are assigned to #meine-mutter via JS on scroll */
.font-variation_paragraph-1 {
  font-variation-settings: 'wght' 100;
}
.font-variation_paragraph-2 {
  font-variation-settings: 'wght' 125;
}
.font-variation_paragraph-3 {
  font-variation-settings: 'wght' 175;
}
.font-variation_paragraph-4 {
  font-variation-settings: 'wght' 250;
}
.font-variation_paragraph-5 {
  font-variation-settings: 'wght' 350;
}
.font-variation_paragraph-6 {
  font-variation-settings: 'wght' 500;
}
.font-variation_paragraph-7 {
  font-variation-settings: 'wght' 700;
}
.font-variation_paragraph-8 {
  font-variation-settings: 'wght' 800;
}

/* OUT ANIMATION */
/* class for translating #deine-mutter out of the viewport */
/* will be added when last paragraph appears */
/* .animate-out {
  transform: translateY(-100vh);
} */
/* 
.pos-change {
  position: absolute;
} */